<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ww"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ww"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name="Activity.Compte.SignIn"></activity>
        <activity android:name="Activity.Depense.Listeretirer" />
        <activity android:name="Activity.Ajouter.Listeajouter" />
        <activity android:name="Activity.Depense.Retirer" />
        <activity android:name="Activity.Ajouter.Ajouter" />

        <activity android:name="Activity.Compte.compte"/>
        <activity android:name="Activity.Compte.Info"/>
        <activity android:name="Activity.Compte.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>